{% extends "base.html" %}

{% block content %}
<div class="container rtl" style="margin-top: 120px;">
    <div>

        <h1>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">سياسة الخصوصية لتطبيق KoraInbox</font>
            </font>
        </h1>

        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">لتلقي معلومات حول بياناتك الشخصية والأغراض والأطراف التي تتم
                    مشاركة البيانات معها ، اتصل بالمالك.</font>
            </font>
        </p>
    </div>

    <div>

        <h2>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">تحكم البيانات والمالك</font>
            </font>
        </h2>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">

                تقوم KoraInbox بتشغيل موقع وتطبيق فيس بوك (korainbox.com).

            </font>
        </font>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">korainbox@gmail.com</font>
            </font>
        </p>

    </div>

    <div>

        <h2>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">أنواع البيانات التي تم جمعها</font>
            </font>
        </h2>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">بيانات شخصية</font>
            </font>
        </h3>

        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">أثناء استخدام خدمتنا ، قد نطلب منك تزويدنا ببعض معلومات التعريف
                    الشخصية التي يمكن استخدامها للاتصال بك أو تحديد هويتك ("البيانات الشخصية"). </font>
                <font style="vertical-align: inherit;">قد تتضمن معلومات التعريف الشخصية ، على سبيل المثال لا الحصر:
                </font>
            </font>
        </p>

        <ul>
            <li>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">الاسم الأول واسم العائلة</font>
                </font>
            </li>
        </ul>



        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">قد يتم وصف البيانات الشخصية الأخرى التي تم جمعها في أقسام أخرى من
                    سياسة الخصوصية هذه أو عن طريق نص شرح مخصص في سياق مع مجموعة البيانات. </font>
            </font><br>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">قد يتم توفير البيانات الشخصية بحرية من قبل المستخدم ، أو يتم
                    جمعها تلقائيًا عند استخدام هذا التطبيق. </font>
            </font><br>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">أي استخدام لملفات تعريف الارتباط - أو أدوات التتبع الأخرى -
                    بواسطة هذا التطبيق أو من قبل مالكي خدمات الطرف الثالث المستخدمة في هذا التطبيق ، ما لم ينص على خلاف
                    ذلك ، يعمل على تحديد المستخدمين وتذكر تفضيلاتهم ، لغرض وحيد هو توفير الخدمة المطلوبة بواسطة
                    المستخدم. </font>
            </font><br>
            <font style="vertical-align: inherit;">
                <font class="" style="vertical-align: inherit;">عدم تقديم بيانات شخصية معينة قد يجعل من المستحيل على هذا
                    التطبيق تقديم خدماته.</font>
            </font>
        </p>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">يتحمل المستخدمون مسؤولية أي بيانات شخصية خاصة بأطراف خارجية تم
                    الحصول عليها أو نشرها أو مشاركتها من خلال هذا التطبيق ، ويؤكدون أن لديهم موافقة الطرف الثالث على
                    تقديم البيانات إلى المالك.</font>
            </font>
        </p>

    </div>

    <div>

        <h2>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">وضع ومكان معالجة البيانات</font>
            </font>
        </h2>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">طرق المعالجة</font>
            </font>
        </h3>

        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">تقوم KoraInbox بمعالجة بيانات المستخدمين بطريقة
                    مناسبة وتتخذ التدابير الأمنية المناسبة لمنع الوصول غير المصرح به للبيانات أو الكشف عنها أو تعديلها
                    أو إتلافها دون إذن.</font>
            </font><br>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">تتم معالجة البيانات باستخدام أجهزة الكمبيوتر و / أو الأدوات
                    الممكّنة لتكنولوجيا المعلومات ، باتباع الإجراءات التنظيمية والأوضاع المرتبطة بدقة بالأغراض المبينة.
                </font>
                <font style="vertical-align: inherit;">بالإضافة إلى وحدة التحكم في البيانات ، في بعض الحالات ، قد تكون
                    البيانات متاحة لأنواع معينة من الأشخاص المسؤولين ، والمشاركين في تشغيل الموقع (الإدارة ، المبيعات ،
                    التسويق ، الإدارة القانونية ، إدارة النظام) أو الأطراف الخارجية (مثل الغير مقدمو الخدمات الفنية
                    للأطراف ، وشركات البريد ، ومقدمو خدمات الاستضافة ، وشركات تكنولوجيا المعلومات ، ووكالات الاتصالات)
                    تم تعيينهم ، إذا لزم الأمر ، كمعالجات بيانات من قبل المالك. </font>
                <font style="vertical-align: inherit;">قد يتم طلب قائمة محدثة من هذه الأطراف من وحدة تحكم البيانات في أي
                    وقت.</font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">مكان</font>
            </font>
        </h3>

        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">تتم معالجة البيانات في مكاتب تشغيل KoraInbox وفي أي أماكن
                    أخرى توجد فيها الأطراف المعنية بالمعالجة. </font>
                <font style="vertical-align: inherit;">لمزيد من المعلومات ، يرجى الاتصال بوحدة التحكم في البيانات.
                </font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">الوقت الاحتفاظ</font>
            </font>
        </h3>

        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">يتم الاحتفاظ بالبيانات للوقت اللازم لتوفير الخدمة التي يطلبها
                    المستخدم ، أو يتم ذكرها من خلال الأغراض الموضحة في هذا المستند ، ويمكن للمستخدم دائمًا أن يطلب من
                    المراقب المالي تعليق البيانات أو إزالتها.
                </font>
            </font>
        </p>

    </div>

    <div class="one_line_col">

        <h2>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">استخدام البيانات التي تم جمعها</font>
            </font>
        </h2>



        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">يتم تحديد البيانات الشخصية المستخدمة لكل غرض في الأقسام المحددة
                    من هذا المستند.</font>
            </font>
        </p>


    </div>

    <div>

        <h2>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">أذونات فيسبوك التي طلبها هذا التطبيق</font>
            </font>
        </h2>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">قد يطلب هذا التطبيق بعض أذونات Facebook مما يسمح له بتنفيذ
                    إجراءات باستخدام حساب المستخدم على Facebook واسترداد المعلومات ، بما في ذلك البيانات الشخصية ، منها.
                </font>
            </font>
        </p>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">لمزيد من المعلومات حول الأذونات التالية ، ارجع إلى </font>
            </font><a href="https://developers.facebook.com/docs/authentication/permissions/" target="_blank">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">وثائق أذونات Facebook</font>
                </font>
            </a>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"> وإلى </font>
            </font><a href="https://www.facebook.com/about/privacy/" target="_blank">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">سياسة خصوصية Facebook</font>
                </font>
            </a>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"> .</font>
            </font>
        </p>


        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">الأذونات المطلوبة هي التالية:</font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">معلومات اساسية</font>
            </font>
        </h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">بشكل افتراضي ، يتضمن هذا بيانات مستخدم معينة مثل المعرف والاسم
                    والصورة والجنس والإعدادات المحلية الخاصة بهم. </font>
                <font style="vertical-align: inherit;">تتوفر أيضًا بعض اتصالات المستخدم ، مثل الأصدقاء. </font>
                <font style="vertical-align: inherit;">إذا كان المستخدم قد جعل الكثير من بياناته عامة ، فستتوفر المزيد
                    من المعلومات.</font>
            </font>
        </p>



    </div>

    <div>

        <h2>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">معلومات إضافية حول جمع البيانات ومعالجتها</font>
            </font>
        </h2>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">إجراءات قانونية</font>
            </font>
        </h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    يمكن استخدام البيانات الشخصية للمستخدم لأغراض قانونية من قبل وحدة التحكم في البيانات أو في المحكمة
                    أو في المراحل التي تؤدي إلى اتخاذ إجراءات قانونية محتملة ناشئة عن الاستخدام غير السليم لهذا التطبيق
                    أو الخدمات ذات الصلة. </font>
            </font><br>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">يصرح المستخدم بأن يكون على علم بأنه قد تكون هناك حاجة إلى وحدة
                    التحكم في البيانات للكشف عن البيانات الشخصية بناءً على طلب من السلطات العامة.
                </font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">معلومات إضافية حول بيانات المستخدم الشخصية</font>
            </font>
        </h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    بالإضافة إلى المعلومات الواردة في سياسة الخصوصية هذه ، قد يزود هذا التطبيق المستخدم بمعلومات إضافية
                    وسياقية تتعلق بخدمات معينة أو جمع ومعالجة البيانات الشخصية عند الطلب.
                </font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">سجلات النظام والصيانة</font>
            </font>
        </h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    لأغراض التشغيل والصيانة ، قد يقوم هذا التطبيق وأي خدمات من جهات خارجية بجمع الملفات التي تسجل
                    التفاعل مع هذا التطبيق (سجلات النظام) أو تستخدم لهذا الغرض بيانات شخصية أخرى (مثل عنوان IP).
                </font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">المعلومات غير الواردة في هذه السياسة</font>
            </font>
        </h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    قد يتم طلب مزيد من التفاصيل المتعلقة بجمع البيانات الشخصية أو معالجتها من وحدة التحكم في البيانات في
                    أي وقت. </font>
                <font style="vertical-align: inherit;">يرجى الاطلاع على معلومات الاتصال في بداية هذا المستند.
                </font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">حقوق المستخدمين</font>
            </font>
        </h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    يحق للمستخدمين ، في أي وقت ، معرفة ما إذا كانت بياناتهم الشخصية قد تم تخزينها ويمكنهم الرجوع إلى
                    وحدة التحكم في البيانات لمعرفة محتوياتها وأصلها ، للتحقق من دقتها أو المطالبة بإضافتها أو إلغاؤها أو
                    تحديثها أو تصحيحها. أو لتحويلها إلى تنسيق مجهول أو لمنع أي بيانات محفوظة في انتهاك للقانون ، وكذلك
                    لمعارضتها لأي سبب وكل الأسباب المشروعة. </font>
                <font style="vertical-align: inherit;">يجب إرسال الطلبات إلى وحدة التحكم في البيانات على معلومات الاتصال
                    الموضحة أعلاه.
                </font>
            </font>
        </p>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    لا يدعم هذا التطبيق طلبات "عدم التعقب". </font>
            </font><br>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">لتحديد ما إذا كانت أي من خدمات الطرف الثالث التي تستخدمها تحترم
                    طلبات "عدم التعقب" ، يرجى قراءة سياسات الخصوصية الخاصة بها.
                </font>
            </font>
        </p>

        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">التغييرات في سياسة الخصوصية هذه</font>
            </font>
        </h3>
        <p>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    تحتفظ وحدة التحكم في البيانات بالحق في إجراء تغييرات على سياسة الخصوصية هذه في أي وقت عن طريق إرسال
                    إشعار إلى مستخدميها في هذه الصفحة. </font>
                <font style="vertical-align: inherit;">يوصى بشدة بالتحقق من هذه الصفحة في كثير من الأحيان ، مع الإشارة
                    إلى تاريخ التعديل الأخير المدرج في الأسفل. </font>
                <font style="vertical-align: inherit;">إذا اعترض أحد المستخدمين على أي من التغييرات التي أدخلت على
                    السياسة ، يجب على المستخدم التوقف عن استخدام هذا التطبيق ويمكنه أن يطلب من وحدة التحكم في البيانات
                    إزالة البيانات الشخصية. </font>
                <font style="vertical-align: inherit;">ما لم ينص على خلاف ذلك ، تنطبق سياسة الخصوصية السارية في ذلك
                    الوقت على جميع البيانات الشخصية التي لدى وحدة التحكم في البيانات حول المستخدمين.
                </font>
            </font>
        </p>

    </div>
</div>
{% endblock %}