server {
    listen 80;
    server_name ec2-54-165-237-154.compute-1.amazonaws.com;

    location /static/ {
        alias   /webapps/bakr_bot/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/webapps/bakr_bot/run/gunicorn.sock;
    }
}